@{
    ViewData["Title"] = "AFL Ladder";
}
@using afl_dakboard.ViewModels
@model afl_dakboard.ViewModels.AflLadderViewModel


<table>
    <thead>
    <th></th>
    <th colspan="2">Team</th>
    <th>P</th>
    <th>W</th>
    <th>L</th>
    <th>D</th>
    <th>%</th>
    <th>Pts</th>
    </thead>
    @{
        var placing = 0;
        var topTeams = Model!.Standings.Take(8).ToArray();
    }
    @foreach (var standing in topTeams)
    {
        placing++;
        var team = Model.Teams.First(x => x.Name == standing.Name);
        <partial name="_standing" model="new AflStandingViewModel(placing, team, standing)"/>
    }
    @if (topTeams.All(x => x.Name != "Richmond"))
    {
        placing = Model.Standings.FindIndex(x => x.Name == "Richmond") + 1;
        var team = Model.Teams.First(x => x.Name == "Richmond");
        var standing = Model.Standings.First(x => x.Name == "Richmond");
        <partial name="_standing" model="new AflStandingViewModel(placing, team, standing)"/>
    }
 </table>
