@{
    ViewData["Title"] = "Big Bash Ladder";
}
@using afl_dakboard.ViewModels
@model afl_dakboard.ViewModels.BigBashLadderViewModel

@if (Model.Standings.Any())
{
    <table>
        <thead>
        <th></th>
        <th colspan="2">Team</th>
        <th>P</th>
        <th>W</th>
        <th>L</th>
        <th>D</th>
        <th>Pts</th>
        </thead>
        @{
            var placing = 0;
            var topTeams = Model.Standings.Take(8).ToArray();
            var australianTeam = Model.Teams.First(x => x.Name == "Australia");
        }
        @foreach (var standing in topTeams)
        {
            placing++;
            var team = Model.Teams.First(x => x.Id == standing.TeamId);
            <partial name="_standing" model="new BigBashStandingViewModel(placing, team, standing)"/>
        }
        @if (topTeams.All(x => x.TeamId != australianTeam.Id))
        {
            placing = Model.Standings.ToList().FindIndex(x => x.TeamId == australianTeam.Id) + 1;
            var standing = Model.Standings.FirstOrDefault(x => x.TeamId == australianTeam.Id);
            if (standing == null)
            {
                <text>Did Australia not participate?</text>
            }
            else
            {
                <partial name="_standing" model="new BigBashStandingViewModel(placing, australianTeam, standing)"/>
            }
        }
     </table>
}
else
{
    <text>No data available 😢</text>
}
