@{
    ViewData["Title"] = "AFL Ladder";
}
@using afl_dakboard.ViewModels
@model afl_dakboard.ViewModels.IndexViewModel


<table>
    <thead>
    <th></th>
    <th colspan="2">Team</th>
    <th>P</th>
    <th>W</th>
    <th>L</th>
    <th>D</th>
    <th>%</th>
    <th>Pts</th>
    </thead>
    @{
        var placing = 0;
        var topTeams = Model.Standings.Take(8).ToArray();
    }
    @foreach (var standing in topTeams)
    {
        placing++;
        var team = Model.Teams.First(x => x.name == standing.name);
        <partial name="Standing" model="new StandingViewModel(placing, team, standing)"/>
    }
    @if (topTeams.All(x => x.name != "Richmond"))
    {
        placing = Model.Standings.FindIndex(x => x.name == "Richmond");
        if (placing > 9) {
            <tr><td colspan="6">...</td></tr>
        }
        var team = Model.Teams.First(x => x.name == "Richmond");
        var standing = Model.Standings.First(x => x.name == "Richmond");
        <partial name="Standing" model="new StandingViewModel(placing, team, standing)"/>
    }
 </table>
